<!doctype html>
<html ng-app="minesweeper">
    <head>
        <title>The game that will blow your mine!</title>
    </head>
<body>
    <div ng-controller="MineSweeperController as msCtrl" class="minesweeper">
        <h1>{{msCtrl.gameName}}</h1>
        <table>
            <tr ng-repeat="row in msCtrl.grid" class="grid">
                <td ng-repeat="cell in row">
                    <button class="cell" ng-class="{'mine': cell.clicked && cell.hasMine}" ng-click="msCtrl.clickedCell(cell)">
                        <span ng-if="cell.clicked && cell.hasMine">
                            💣
                        </span>
                        <span ng-if="cell.clicked && !cell.hasMine">
                            {{cell.numSurroundingMines}}
                        </span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
